@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
    --color-custom-background: #0F172A;
    --color-custom-foreground: #122A39;
    --color-custom-primary: #5EEAD4;
    --color-custom-text: #64748B;
    --color-custom-secondary: #E2E8F0;
    --color-custom-accent: #003153;
    --color-custom-border: #64748B;
    --font-custom-alt: "Playfair Display", serif;
    --font-custom: "Lora", serif;

}
